<h1 class="text-center fw-bold mb-3">UANG KAS TAHUN <%= kasTahun.tahun %></h1>
<% if (info.length !== 0) { %>
  <div class="alert alert-success shadow" role="alert">
    <p class="text-center m-0"><%= info %></p>
  </div>
<% } %>
<% if (typeof errors != "undefined") { %>
  <div class="alert alert-danger shadow" role="alert">
    <h4 class="alert-heading">Gagal Mengubah Kas!</h4>
    <% errors.forEach(error => { %>
      <p class="m-0">- <%= error.msg %></p>
    <% }) %>
  </div>
<% } %>
<% if (!kasTahun) { %>
    <div class="alert alert-dark text-center w-50 shadow mx-auto" role="alert">
        <h4 class="alert-heading">Kas tidak ada!</h4>
        <p class="m-0">kembali ke <a href="/kontak" class="fw-bold text-decoration-none alert-link">Daftar Kas</a></p>
    </div>
<% }else{ %>
    <div class="card w-50 mx-auto shadow">
      <div class="card-body text-center">
        <i class="bi bi-person-circle display-1"></i>
        <h5 class="card-title mt-3"><%= kasTahun.tahun %></h5>
        <a href="/kontak" class="badge rounded-pill text-bg-dark bg-gradient shadow text-decoration-none px-2"><i class="bi bi-chevron-left me-1"></i>Kembali</a>
        <a href="#" class="badge rounded-pill text-bg-dark bg-gradient shadow text-decoration-none px-2" data-bs-toggle="modal" data-bs-target="#modalKas"><i class="bi bi-pencil me-1"></i>Ubah</a>
        <a href="/kontak/hapus/<%= kasTahun.id %>" class="badge rounded-pill text-bg-dark bg-gradient shadow text-decoration-none px-2" onclick="return confirm('Hapus kontak ini?')"><i class="bi bi-trash3 me-1"></i>Hapus</a>
      </div>
    </div>
<% } %>